name: CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Config Node.js Version
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Linting
        run: npm run lint

      - name: Test
        env:
          CI: true
        run: npm run test

      - name: Build 
        run: npm run build
